# Arquivos de aplicativos criados
/ * / build /

# Configurações Crashlytics
com_crashlytics_export_strings.xml

# Arquivo de configuração local (caminho sdk, etc)
local.properties

# Arquivos gerados pelo Gradle
.gradle /

# Arquivos de assinatura
.signing /

# Configurações específicas do usuário
.idea / libraries /
.idea / workspace.xml
.idea / tasks.xml
.idea / .name
.idea / compiler.xml
.idea / copyright / profiles_settings.xml
.idea / encodings.xml
.idea / misc.xml
.idea / modules.xml
.idea / scopes / scope_settings.xml
.idea / vcs.xml
* .iml

# Arquivos específicos do sistema operacional
.DS_Store
.DS_Store ?
._ *
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db